/* Шаг по умолчанию */
$step: 8px;

/* Цвет фона по умолчанию */
$background-color-default: #e7f6ff;

/* Семейство шрифтов */
$font-family-regular: "Roboto Regular";
$font-family-light: "Roboto Light";
$font-family-medium: "Roboto Medium";
$font-family-bold: "Roboto Bold";

/* Цвета */
$green-color: #9DD458;
